body {
    font-family: 'Cambria';
    margin: 0;
    padding: 0;
}

#baner, footer {
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 40vh;

#lewy, #prawy {
    background-color: #B3C6D9;
    width: 25%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;
    flex-direction: column;
}

#srodek {
    width: 50%;
    background-color: #E0E9F1;
    text-align: center;
    height:400px;
    padding-bottom: 100px;
}

img {
    width: 50%;
    border-radius: 20px;
}

table, td, th {
    border-color: dimgray;
    border-width: 1px;
    border-style: solid;
    width: 80%;
    margin: auto;
}

td:hover, th:hover {
    background-color: steelblue;
    color: white;
}
