#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
    margin-top: 30px;
}
#start button{
    font-size: 200px;
    font-weight: bold;
    color: white;
    background: black;
    border: 2px solid cyan;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}
#game{
    display: none;
}