@keyframes rainbow {
    0% { color: lightblue; }
    14% { color: darkblue; }
    28% { color: orange; }
    42% { color: yellow; }
    57% { color: green; }
    71% { color: purple; }
    85% { color: red; }
    100% { color: lightblue; }
}
body {
    background-color: black;
    margin: 0;
    background-image: url('./IMAGES/BACKGROUND.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#disclaimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
}
#disclaimer button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: black;
    border: 2px solid cyan;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}
#rainbow-text {
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    animation: rainbow 20s infinite linear;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 110px;
    border: 5px solid  cyan;
    border-radius: 50%;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.8); ;
    padding: 20px;
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}

#high-score, #your-high-score {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    width: auto; 
    max-width: 1000px; 
}
#playerName {
    padding: 10px;
    font-size: 16px;
    border: 3px solid cyan;
    color: cyan;
    background-color: black;
    border-radius: 5px;
    width: 220px;
    margin-top: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
}
#menu-buttons, #options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
#menu-buttons button {
    font-size: 60px;
    font-weight: bold;
    color: white;
    background: black;
    border: 2px solid cyan;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}
#options button{
    font-size: 40px;
    font-weight: bold;
    color: white;
    background: black;
    border: 2px solid cyan;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}
#volume{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
#volumeControl {
    width: 400px;
    height: 30px;
    -webkit-appearance: none;
    background: black;
    border-radius: 1000px;
    border: 2px solid cyan;
    outline: none;
}
#volumeControl::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 1000px;
    border: 2px solid cyan;
    -webkit-appearance: none;
    cursor: pointer;
}

button:hover, #playerName:focus, #volumeControl:focus, #volumeControl:hover {
    box-shadow: 0 0 10px cyan;
}

#menu-buttons, #player, #options, header {
    display: none;
}
