.navigation{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkgreen;
    width: 100%;
    justify-content: space-around;
    display: flex;
    z-index: 10;
}
.navigation a{
    color: forestgreen;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation a:hover{
    text-shadow: 5px 5px 5px black;
}
h1{
    position: absolute;
    margin-top: 30vh;
    left: 37%;
    color: red;
    font-size: 100px;
    text-shadow: 5px 5px 5px green;
}
h1:hover{
    cursor:default;
}
.p1{
    position: absolute;
    top: 172%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: greenyellow;
    font-size: 45px;
}
.p1:hover{
    cursor: default;
}
.p2{
    color: green;
    font-size: 15px;
}
.p2:hover{
    text-shadow: 2px 2px 1px white;
    cursor: help;
    transform: translate(-50%, -50%);
}
.mrowa{
    filter: brightness(0.5);
    position: fixed;
    background-size: cover;
}
.test{
    margin: -10px;
}
