.navigation{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkgreen;
    width: 100%;
    justify-content: space-around;
    display: flex;
    z-index: 10;
}
.navigation a{
    color: forestgreen;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation a:hover{
    text-shadow: 5px 5px 5px black;
}