.banner{
    font-size: 50px;
    margin-top: 35vh;
}
@media (orientation: portrait){
    .banner{
        font-size: 20px;
        margin-top: 10vh;
    }
}

.mrowa{
    filter: brightness(0.5);
    position: fixed;
    background-size: cover;
    z-index: -1;
    transform: translate(-50%, -25%);
}
.navigation{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkgreen;
    width: 100%;
    justify-content: space-around;
    display: flex;
    z-index: 10;
}
.navigation a{
    color: forestgreen;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation a:hover{
    text-shadow: 5px 5px 5px black;
}


body{
    margin: 0%;
    color: greenyellow;
    background-color: green;
    text-align: center;
    overflow-x: hidden;
}



.box{
    background-color: rgba(0,0,0,0.5);
    border: 2px solid darkseagreen;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
}

.box:hover{
    scale: 105%;
    background-color: darkgreen;
    box-shadow: 0px 0px 10px green;
    transition: 1s;
}

#here{
    animation: blinking 2s infinite;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.box{
    position: relative;
    height: 1200px;
    width: 50vw;
    margin: 30px;
}

.boxContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
}


@media (orientation: portrait) , (max-width: 600px){
    .row{
        display: block;
    }
    .box{
        width: 50vw;
        height: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7vh;
        font-size: 10px;
    }
    .boxContent{
        width: 45vw;
    }
}