.banner{
    font-size: 50px;
    margin-top: 35vh;
    color: green;
}
.navigation{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkgreen;
    width: 100%;
    justify-content: space-around;
    display: flex;
    z-index: 10;
}
.navigation a{
    color: forestgreen;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation a:hover{
    text-shadow: 5px 5px 5px black;
}
#BGvideo{
    filter: brightness(0.5);
    position: fixed;
    background-size: 3000%;
    z-index: -1;
    transform: translate(-50%, -30%);
    height: 150%;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.box{
    width: 30vw;
    margin: 30px;
    padding: 10px;
}


.box>img{
    max-width: 25vw;
    max-height: 40vh;
}


.name{
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
    color: greenyellow;
}


@media (orientation: portrait) , (max-width: 1200px){
    
    .row{
        display: block;
    }
    .box{
        filter: opacity(100%);
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
    .box>img{
        width: 40vw;
    }
    .name{
        visibility: hidden;
        position: absolute;
    }

}

body{
    margin: 0%;
    color: #ffffff;
    background-color: green;
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    overflow-x: hidden;
}

.box{
    background-color: rgba(0,0,0,0.5);
    border: 2px solid green;
    border-radius: 0px;
    transition: 1s;
}

.box:hover{
    scale: 120%;
    background-color: greenyellow;
    box-shadow: 0px 0px 10px darkgreen;
    transition: 1s;
}

.box img{
    margin-left: auto;
    margin-right: auto;
}

@media (orientation: portrait){
    .banner{
        font-size: 20px;
        margin-top: 10vh;
    }
}
